.shopping-card {
    width: 50%;
    margin: 0 auto;
}
.item1,.item2, .item3,.item4  {
    border: 2px solid red;
    height: 150px;
    width: 40%;
    margin:0 auto ;
    position: relative;
    margin-top:10px ;
}
.item {
    border: 2px solid red;
    height: 150px;
    width: 40%;
    margin:0 auto ;
    position: relative;
    margin-top:10px ;
}
h2 {
    text-align: center;
    padding-bottom: 30px;
}

.fa-angle-double-up {
    position: absolute;
    right: 10px;
    bottom: 100px;
    cursor: pointer;
}
.fa-angle-double-down {
    position: absolute;
    right: 10px;
    bottom: 60px;
    cursor: pointer;
}
.image {
    position: relative;
    top: 10px;
    left: 10px;
}
.fa-minus-square {
    position: absolute;
    left:5px;
    top: 50px;
    cursor: pointer;
}  
.fa-heart {
    position: absolute;
    bottom: 30px;
    left: 40px;
    cursor: pointer;
}
.total {
    text-align: center;
    position: relative;
    right: 100px;
    margin-top:10px ;
  
}
.number-of-item1, .number-of-item2, .number-of-item3, .number-of-item4  {
    position: absolute;
    right:10px;
    bottom: 78px;
}
#minus1, #minus2, #minus3, #minus4:hover {
    cursor: pointer;
}

input {
    position: absolute;
    right:10px;
    bottom: 78px; 
    background: transparent;
    border: 0;
    text-align: right;
    width: 7%;
}
p {
     margin: 0 !important; 
     position: relative;
     right: -90px;
     display: block;
     bottom: 60px; 
     font-weight: bold;
}
.red {
    color: red;
}
